
header {
    display: block;
    position: relative;
    width: 100%;
    height: .88rem;
    background: #25cf88;
}
header div.back{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 555;
    width: 0.88rem;
    height: 0.88rem;
    cursor: pointer;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}
header h2{
    width: 100%;
    height: .88rem;
    text-align: center;
    line-height: .88rem;
    font-size: 16px;
    color: #fff;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: transparent;
    z-index: 999;
}
footer ul {
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-align-items: center;
    align-items:center;
    background: #FFF;
    max-width: 576px;
    margin: 0 auto;
    border-top: 1px solid #16cd7f;
}
footer ul li{
    -webkit-box-flex: 1;
    flex:1;
    width: 100%;
    height: 1rem;
    text-align: center;
}
footer ul li a{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
}
footer ul li div.icon {
    display: inline-block;
    margin-top: 0.05rem;
    width: .5rem;
    height: .5rem;
}
footer ul li img {
    width: .5rem;
    height: .5rem;
}

footer ul li p {
    font-size: 12px;
    line-height: 1;
}
footer ul li p.on{
    color:#25cf88;
}
.expand-transition {
    transition: all .2s ease;
    overflow: hidden;
}

.expand-enter, .expand-leave {
    opacity: 0;
}

.member {
    padding-bottom: 1.3rem;
}
.member-top {
    position: relative;
    width: 100%;
    height: 2.3rem;
    background: url(../images/memberBg.jpg) no-repeat;
    background-size: 100% auto;
    padding: .4rem .2rem 0;
    box-sizing: border-box;
}
.member-top div.member-pic {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0  0 0 2px #fff;
    vertical-align: middle;
    cursor: pointer;
}
.member-top div.member-info {
    display: inline-block;
    vertical-align: middle;
    width: 4rem;
    height: 1.5rem;
    box-sizing: border-box;
    padding-left: .3rem;
}
.member-top div.member-info p {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin: .25rem 0 .1rem;
    cursor: pointer;
}
.member-top div.mygold_top p{
    margin:0.35rem 0 0;
    line-height: 1.2;
}
.member-top div.mygold_top h4{
    font-size: 21px;
    color: #fff;
    line-height: 1.4;
}
.member-top div.member-info a {
    display: block;
    width: 1.2rem;
    /*height: .36rem;
        line-height: .3rem;*/
    text-align: center;
    border: 1px solid #fff;
    font-size: 12px;
    color: #fff;
    border-radius: 2px;
}
.member-top div.member-info a.member_daili{
    display: inline-block;
    position: relative;
    width: 1.8rem;
    height: 0.4rem;
    line-height: 0.4rem;
    background: rgba(0,0,0,0.2);
    border-radius:0.4rem 0 0 0.4rem;
    border:none;
}
.member-top div.member-info a.member_updata{
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 0.4rem;
    line-height: 0.4rem;
    background: rgba(0,0,0,0.2);
    border-radius:0 0.4rem 0.4rem 0;
    text-align: center;
    border:none;
    font-size: 12px;
    color: #ffff20;
}
.member-top div.member-info a.member_daili img{
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    left: 0;
    top:0;
}
.member-top div.member-info a.member_daili span{
    font-size: 12px;
    color: #fff;
    margin-left: 0.3rem;
}
.member-top div.member-info a:active {
    opacity: .7;
}
.member-top div.member_kefu {
    position: absolute;
    z-index: 10;
    right: .2rem;
    top: .3rem;
    width: .5rem;
    height: .5rem;
    background: #178e6f;
    overflow: hidden;
    border-radius: 50%;
}
.member-top div.member_gold{
    right: 0.9rem;
}
.member-top div.member_kefu a {
    display: block;
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}
.member-top div.member_gold a{
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity: 0.9;
}
.member-top div.member_kefu a img {
    /*width: .7rem;*/
    /*height: .7rem;*/
}
.member-top div.member_kefu:active {
    background: #0C848E;
}
.member-nav nav {
    margin: 0;
    border: none;
}
.member-nav nav ul.list li a {
    padding: .15rem .02rem;
}
.member-nav nav ul.list li a span {
    font-size: 12px;
    color: #000;
}
.member-nav nav ul.list li a p {
    font-size: 12px;
    color: #fd2728;
    margin-bottom: 0.05rem;
}
.member-nav nav ul.list li a h4 {
    font-size: 12px;
    color: #408de3;
    margin-bottom: 0.05rem;
}
.member-nav nav ul.list li a h5 {
    font-size: 12px;
    color: #ff9402;
    margin-bottom: 0.05rem;
}
.member-con ul li a {
    display: block;
    background: #fff;
    padding: 0 .2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: .88rem;
    -webkit-box-align: center;
}
.member-con ul li a div.member-icon {
    width: .4rem;
    height: .4rem;
}
.member-con ul li a div.member-txt {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: 4.8rem;
    height: .88rem;
    line-height: .88rem;
    box-sizing: border-box;
    padding-left: .3rem;
    font-size: 14px;
    color: #333;
}
.member-con ul li a div.member-txt span {
    float: right;
    font-size: 12px;
    color: #fd2728;
}
.member-con ul li a div.member-arrow {
    width: .4rem;
    height: .4rem;
}
.member-con ul li a div.member-arrow img {
    width: .4rem;
    height: .4rem;
}
.member-con ul li a:active {
    background: #ddd;
    opacity: .7;
}
.member-con ul li.mr {
    margin: .2rem 0;
}
.member-con ul li.line {
    width: 100%;
    box-sizing: border-box;
    height: 1px;
    margin: 0;
    padding: 0 .2rem;
    background: #fff;
}
.member-con ul li.line div.line {
    width: 100%;
    height: 1px;
    background: #eee;
}










